Checks:          '*,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-readability-magic-numbers,-cppcoreguidelines-avoid-magic-numbers,-llvmlibc-callee-namespace,-google-runtime-references,-fuchsia-default-arguments-declarations,-modernize-use-trailing-return-type,-fuchsia-default-arguments-calls,-llvm-header-guard,-google-build-using-namespace,-clang-analyzer-alpha.clone.CloneChecker,-google-runtime-int,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-clang-analyzer-alpha.deadcode.UnreachableCode,-misc-use-after-move,-cppcoreguidelines-pro-type-vararg,-modernize-use-emplace,-cert-err60-cpp'