[Desktop Entry]
Type=Application
Name=XLink Handheld Assistant
Comment=Starts XLink Handheld Assistant
Exec=$HOME/xlinkhandheldassistant/linux_scripts/start-xlinkhandheldassistant.sh
Icon=$HOME/xlinkhandheldassistant/Resources/xlha.svg
Categories=Utility;Network;Game
