[Desktop Entry]
Type=Application
Name=XLink Handheld Assistant
Comment=Starts XLink Handheld Assistant
Terminal=true
Exec=/opt/xlinkhandheldassistant/linux_scripts/start-xlinkhandheldassistant-cli.sh
Icon=/opt/xlinkhandheldassistant/Resources/icon.svg
Categories=Utility;Network;Game
