#include <winver.h>

1 VERSIONINFO
FILEVERSION     1,2,0,0
PRODUCTVERSION  1,2,0,0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "080904E4"
    {
      VALUE "FileDescription", "Helps handheld devices connect through XLink Kai"
      VALUE "FileVersion", "1.2"
      VALUE "InternalName", "xlinkhandheldassistant"
      VALUE "LegalCopyright", "Rick de Bondt"
      VALUE "OriginalFilename", "xlinkhandheldassistant.exe"
      VALUE "ProductName", "Xlink Handheld Assistant"
      VALUE "ProductVersion", "1.2"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x809, 1252
  }
}

IDI_ICON1 ICON icon.ico
