name: Build

on:
  push:
    paths-ignore:
      - '.github/*'
      - '.github/*_TEMPLATE/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - '.github/*'
      - '.github/*_TEMPLATE/**'
      - '*.md'

jobs:
  ubuntu:
    name: Ubuntu
    runs-on: self-linux
    steps:
      - name: Clone Tree
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build
        run: |
          mkdir build
          cd build 
          cmake .. -DENABLE_TESTS=1 \
                   -DAUTO_FORMAT=0
          cmake --build . -- -j`nproc`
      - name: Unit Tests
        run: |
          cd build
          ./xlinkhandheldassistant_tests
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: XLHA-Debian
          path: build/xlinkhandheldassistant
          if-no-files-found: error
          
  windows:
    name: Windows
    runs-on: self-windows
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw32
          release: false
      - name: Clone Tree
        uses: actions/checkout@v2
      - name: Build
        run: |
          mkdir build 
          cd build 
          cmake .. -G "MinGW Makefiles" -DAUTO_FORMAT=0 \
                                        -DBUILD_X32=1 \
                                        -DBOOST_ROOT="c:/boost"
                                        
          mingw32-make -j`nproc`
      - uses: actions/upload-artifact@v2
        with:
          name: XLHA-WindowsX32
          path: build/xlinkhandheldassistant.exe
          
  macos:
    name: MacOS10_15
    runs-on: self-macOS
    steps:
      - name: Clone Tree
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build
        run: |
          mkdir build 
          cd build 
          cmake .. -G "Xcode" -DCMAKE_OSX_DEPLOYMENT_TARGET=10.11 \
                              -DCMAKE_OSX_SYSROOT="$HOME/source/MacOSX10.11.sdk" \
                              -DAUTO_FORMAT=0 \
                              -DBUILD_STATIC=1 \
                              -DPCAP_ROOT_DIR="$HOME/source/libpcap" \
                              -DBOOST_ROOT="$HOME/source/boost" \
                              -DNCURSES_ROOT_DIR="$HOME/source/ncurses"
          xcodebuild -configuration Release
      - uses: actions/upload-artifact@v2
        with:
          name: XLHA-MacOS10.11
          path: build/Release/xlinkhandheldassistant
